{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col s12">
    <h3>EDIT OR ANSWER</h3>

    {% for question in questions %}

    <!--Database content questions:-->
    <!-- 
        {{question.question}}
        {{question.category_name}}
        {{question.answer}}
        {{question.is_answered}}
        {{question.question_date}}
        {{question.Asked_by}}
        {{question.Answered_by}}
        {{question.timestamp}}

        -->


    <!--..All questions and answers in accordeon............................................................-->
    <div class="row">
      <div class="col s12">
        <ul class="collapsible col-12">
          <li>
            <div class="collapsible-header row blue-grey darken-4">
              <div class="col s2">
                <span>
            {% if question.is_answered %}
            <i class="material-icons">sms</i>
            {% elif question.answer %}
            <i class="material-icons  grey-text">sms</i>
            {% else %}
            <i class="material-icons red-text">sms_failed</i>
            {% endif %}
            </br></br><i class="material-icons ">import_export</i></span>
              </div>
              <div class="col s6 white-text">
                <span><strong><em>{{question.question}}</em></strong></span></br>
              </div>
              <div class="col s2 center-align">
                <a href="{{url_for('edit_question', question_id=question._id)}}" <i class="material-icons">edit</i></a></br>
                </br>
                <a href="{{url_for('delete_question', question_id=question._id)}}" <i class="material-icons">delete</i></a>
              </div>
              <div class="col s2 right-align">
                <span class="chip">{{question.Asked_by}}</span>
                </br>
                <span class="datetext">{{question.question_date}}</span>
              </div>
            </div>


            <div class="collapsible-body row blue-grey darken-3">
              <div class="col s2"><i class="material-icons">supervisor_account</i>
              </div>
              <div class="col s8 white-text"><strong>{{question.answer}}</strong></div>
              <div class="col s2 right-align"><a class="btn-floating btn-small waves-effect blue darken-2">
          {% if question.is_answered %}
          <i class="material-icons align-center">thumb_up</i>
          {% else %}
          <i class="material-icons align-center grey">thumb_up</i>
          {% endif %}
          </a>
              </div>
            </div>
          </li>
        </ul>
        {% endfor %}



      </div>
    </div>



    {% endblock %}
  </div>
</div>