{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col s12">
    <h3>QUESTIONS</h3>

    {% for question in questions %}

    <!--Database content questions:-->
    <!-- 
        {{question.question}}
        {{question.category_name}}
        {{question.answer}}
        {{question.is_answered}}
        {{question.question_date}}
        {{question.Asked_by}}
        {{question.Answered_by}}
        {{question.timestamp}}

        -->


    <!--..All questions and answers in accordeon...............  blue-grey darken-4.............................................-->
    <div class="row">
      <div class="col s12">
        <ul class="collapsible col-12">
          <li>
            <div class="collapsible-header row blue-grey darken-4">
              <div class="col s2">
                <span>
            {% if question.answer %}
            <i class="material-icons">sms</i>
            {% else %}
            <i class="material-icons red-text">sms_failed</i>
            {% endif %}
            </br></br><i class="material-icons ">import_export</i></span>
              </div>
              <div class="col s6 white-text">
                <span><strong><em>{{question.question}}</em></strong></span></br>
              </div>
              <div class="col s2 right-align">
                <span class="chip">{{question.Asked_by}}</span>
                </br>
                <span class="datetext">{{question.question_date}}</span>
              </div>
            </div>


            <div class="collapsible-body row blue-grey darken-3">
              <div class="col s2"><i class="material-icons">supervisor_account</i>
              </div>
              <div class="col s8 white-text"><strong>{{question.answer}}</strong></div>
              <div class="col s2 right-align"><a class="btn-floating btn-small waves-effect blue darken-2">
          {% if question.is_answered %}
          <i class="material-icons align-center">thumb_up</i>
          {% else %}
          <i class="material-icons align-center grey">thumb_up</i>
          {% endif %}
          </a></div>
            </div>
          </li>
        </ul>
        {% endfor %}




      </div>




      <!--..Welcome card............................................................-->
      <div class="row">
        <div class="row">
          <div class="col s12 m9">
            <div class="card blue-grey darken-4">
              <div class="card-content white-text">
                <span class="card-title">Welcome!</span>
                <p>Timewizard is the Nordic leading planning and organization software for Opera houses and Theaters. The Software contains of two programmes: <strong>Desktop</strong> for administration and <strong>Web</strong> for all users. On this site
                  you will find information on how to work with Timewizard.
                </p>
              </div>
              <div class="card-action">
                <em>On this site: read and ask user questions & study manuals of the programmes.</em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% endblock %}
  </div>
</div>